<section class="h-auto px-4 md:px-16">
	<div>
        <h2 class="text-4xl w-2/3 font-serif font-bold">Мы добиваемся положительных результатов в кратчайшие сроки<b class="text-accent">.</b></h2>
        <p class="text-base pl-96 w-4/5 pt-8">Наша юридическая фирма предоставляет широкий спектр услуг для физических и юридических лиц. Мы гордимся нашей репутацией и успехами в решении самых сложных правовых вопросов. Наша миссия – обеспечить каждому клиенту индивидуальный подход и высокое качество обслуживания. </p>
	</div>
    <span class="top-9 block h-0.5 w-full my-16 bg-secondary2"></span>
</section>