---
const lookup = [
	['M', 1000],
	['CM', 900],
	['D', 500],
	['CD', 400],
	['C', 100],
	['XC', 90],
	['L', 50],
	['XL', 40],
	['X', 10],
	['IX', 9],
	['V', 5],
	['IV', 4],
	['I', 1],
];

const toRomanNumeral = num =>
	lookup.reduce((acc, [k, v]) => {
		if (typeof k !== "number") {
			acc += k.repeat(Math.floor(num / v));
		}
		num = num % v;
		return acc;
	}, '');

const services = [
	{
		id: toRomanNumeral(1),
		text: 'Решение семейных проблем'
	},
	{
		id: toRomanNumeral(2),
		text: 'Решение семейных проблем'
	},
	{
		id: toRomanNumeral(3),
		text: 'Решение семейных проблем'
	},
	{
		id: toRomanNumeral(4),
		text: 'Решение семейных проблем'
	},
	{
		id: toRomanNumeral(5),
		text: 'Решение семейных проблем'
	},
	{
		id: toRomanNumeral(6),
		text: 'Решение семейных проблем'
	},
];

---

<section class="h-auto px-4 md:px-16 my-14">
	<div class="flex justify-end">
        <h2 class="font-serif text-base font-bold">Наши услуги<b class="text-accent">.</b></h2>
	</div>

	<ul class="flex flex-wrap">
		{services.map(service => (
			<li class="w-52 m-6">
				<h3 class="font-serif font-bold">{service.id}</h3>
				{service.text}
			</li>
		))}
	</ul>
</section>