---

---
<footer class="h-80 bg-primary text-secondary2 px-4 md:px-16 w-full flex flex-row items-center">
	<div class="w-1/2">Название компании</div>
	<div class="w-1/2  flex flex-row justify-evenly">
		<div>
			<h3 class="uppercase">Наш адрес</h3>
            <p>проезд Макарова, д.45</p>
            <p>г. Тюмень</p>
		</div>
        <div>
            <h3 class="uppercase">Телефон</h3>
            <p>+79220334567</p>
            <p>+79220300500</p>
        </div>
	</div>
</footer>