---

---

<header class="h-24 px-4 md:px-16">
	<div class="h-full px-12 flex justify-between items-center font-medium">
		<div>
			logo
		</div>
		<div>
			Тел.: +79220334567
		</div>
    </div>
</header>
